<div class="card">
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id)%>
  <div class="card__body">
    <%= link_to post.title, post.url, class: :card__title%>
    <%= link_to "by #{post.user.name}", user_path(post.user_id), class: :card__user %>
  </div>

  <% if user_signed_in? && current_user != post.user %>
  <div id="like-btn<%= post.id %>">
    <%= render partial: "favorites/favorite", locals: { post: post } %>
  </div>
  <% end %>
  
</div>