<div class="card">
  <%= link_to image_tag(post.image, class: :card__img ), post_path(post.id)%>
  <div class="card__body">
    <%= link_to post.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= link_to post.url, post.url%>
    </p>
    <%= link_to "by #{post.user.name}", root_path, class: :card__user %>
  </div>

  <div id="like-btn<%= post.id %>">
    <% if user_signed_in? && post.liked_by?(current_user)%>
      <%=link_to "いいね済", post_favorites_path(post.id),  method: :delete, class: "post_favorites" %>
    <% else %>
      <%=link_to "いいねする", post_favorites_path(post.id), method: :post, class: "post_favorites" %>
    <% end %>
  </div>
  
</div>